@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: inherit;
}

/* body, html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
} */

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
  scroll-behavior: smooth;
}

.wrapInner {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.2s ease;
}

a:hover {
  color: #ebb40a;
}

li {
  margin: 0 2rem;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

h2 {
  font-size: 385%;
  font-family: "roboto", sans-serif;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

h2::after {
  position: absolute;
  content: "";
  height: 3px;
  display: inline-block;
  width: 70px;
  top: 18px;
  background: #ffb800;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.sp {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Start header*/

.nav.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s, visibility 0s 1s;
  -o-transition: opacity 1s, visibility 0s 1s;
  transition: opacity 1s, visibility 0s 1s;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.nav.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

/*End Header*/

nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 1;
  padding: 1% 0 0%;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  position: fixed;
}

.hide {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}

#nav-icon3 {
  display: none;
  position: relative;
  right: 0;
  width: 50px;
  height: 35px;
  cursor: pointer;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transition: 0.5s ease-in-out;
  -o-transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transition: 0.5s ease-in-out;
  -moz-transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  left: 0;
  width: 70%;
  height: 3px;
  border-radius: 9px;
  background: #fff;
  opacity: 1;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 2px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  left: 50%;
  width: 0%;
}

#nav-icon3.open span:nth-child(2) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  left: 50%;
  width: 0%;
}

.nav .nav01 li {
  display: inline-block;
}

.nav .nav01 li:last-child {
  border-bottom: none;
}

.nav a {
  font-size: 125%;
  color: #ccc;
  font-weight: bold;
}

.nav.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s, visibility 0s 1s;
  -o-transition: opacity 1s, visibility 0s 1s;
  transition: opacity 1s, visibility 0s 1s;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.nav.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.transparentBG {
  background: none;
  max-width: 1280px;
  padding: 1% 102px;
  margin: 0 auto;
}

.blackBG {
  background: rgba(0, 0, 0, 0.8);
  max-width: 100%;
  padding: 1% 134px;
  margin: 0 auto;
}

.nav .logo {
  width: 3%;
  margin-left: 0;
}

.sp_logo {
  display: none;
}

.logo {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.glow {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 5px 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.glow:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ebb40a;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.glow:hover:after {
  width: 100%;
  left: 0;
}
.glow span {
  display: block;
  position: absolute;
}

/*End header*/

/* Start Social */

.social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 1;
}

.socialList {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.socialList::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}

.socialList li {
  margin: 10px 3rem;
}

.socialList li a {
  font-size: 2rem;
}

.socialList li a:hover,
.socialList li a:focus {
  transform: translateY(-5px);
}

/*End Social */

/*Start section01*/

.section01 {
  background: #020202;
  height: 100vh;
  padding-top: 60px;
  /* scroll-snap-align: start; */
}

.sec01_cont01 {
  width: 50%;
  line-height: 45px;
  text-align: left;
}

.sec01_cont01 p {
  font-family: "Poppins";
  font-size: 230%;
  color: #fff;
}

.wave {
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.sec01_cont01 h1 {
  font-family: "Permanent Marker";
  font-size: 435%;
  letter-spacing: 3px;
  color: #ffb800;
}

.typewrite {
  font-size: 3rem !important;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  position: absolute;
  transition: 1s;
  line-height: 2;
}

.animation {
  width: 50%;
}

.hoverEffects {
  width: 100%;
}

lottie-player {
  width: 100%;
}

/*End section01*/

/*Start section02*/

.section02 {
  background: #252525;
  height: 100vh;
  padding-top: 100px;
  /* scroll-snap-align: start; */
}

.sec02_cont01 {
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
}

.sec02_cont01Img01 {
  position: relative;
  z-index: 0;
}

.sec02_cont01Img01 img:nth-child(1) {
  z-index: 2;
  border: 3px solid #4d4d4d;
  padding: 15px;
  box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 50%);
  border-radius: 5px;
  width: 85%;
  transition: all 1s ease;
  opacity: 0.8;
}

.sec02_cont01Img01 img:nth-child(1):hover {
  transform: rotate(-10deg);
}

.sec02_cont01Img01 img:nth-child(2) {
  position: absolute;
  left: 18px;
  top: 18px;
  width: 78%;
  z-index: -1;
  transform: rotate(-10deg);
  border-radius: 5px;
}

.sec02_cont02 {
  width: 50%;
  text-align: left;
}

.sec02Txt01 {
  margin-bottom: 20px;
}

.sec02Txt01 h2 span {
  padding-left: 30px;
  font-family: "Permanent Marker";
  letter-spacing: 3px;
  color: #ffb800;
}

.sec02Txt01 p {
  font-size: 200%;
  text-align: justify;
  text-indent: 50px;
  font-family: "Poppins";
  line-height: 25px;
}

.sec02LogoList {
  flex-wrap: wrap;
  justify-content: left;
}

.sec02LogoList li {
  text-align: left !important;
  display: inline-block;
  font-size: 450%;
  width: 12%;
  padding: 10px 0;
  transition: all 0.4s ease;
}

.sec02LogoList li:hover,
.sec02LogoList li:focus {
  transform: translateY(-10px);
}

/*End section02*/

/*Start section03*/

.section03 {
  background: #020202;
  padding-top: 100px;
  /* scroll-snap-align: start; */
}

.section03 h2,
.section03 p {
  text-align: center;
  margin-bottom: 30px;
}

.sec03_cont01 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

figure.snip1218 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* margin: 10px; */
  min-width: 220px;
  max-width: 30.5%;
  width: 100%;
  background: #34495e;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

figure.snip1218 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1218 img {
  max-width: 100%;
  vertical-align: top;
}

figure.snip1218 .image {
  position: relative;
  border-bottom: 4px solid #34495e;
  z-index: 1;
}

figure.snip1218 .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1218 .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}

figure.snip1218 figcaption {
  background-color: #ffffff;
  padding: 25px;
}

figure.snip1218 h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1218 h3 span {
  font-weight: 800;
}

figure.snip1218 h5 {
  font-weight: 400;
}

figure.snip1218 i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

figure.snip1218 i:hover {
  background-color: #34495e;
  color: white !important;
}

figure.snip1218:hover .image:before,
figure.snip1218.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

figure.snip1218:hover .image p,
figure.snip1218.hover .image p {
  opacity: 1;
}

figure.snip1218:hover img,
figure.snip1218.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*End section03*/

/*End footer*/

/*Start animations*/
/* 
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(231 236 143 / 99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgb(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(253, 87, 191, 0);
  }
} */

/*End animations*/

/*Start media queries*/

@media screen and (max-width: 768px) {
  html {
    font-size: 57%;
  }

  h2 {
    text-align: center;
  }

  nav {
    padding: 0;
  }

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .flex {
    display: block;
  }

  .nav01 {
    margin-top: 0;
    padding: 57px 50px 00px;
  }

  .wrapInner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .transparentBG {
    max-width: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  .blackBG {
    max-width: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  .nav .nav01 {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    background: #333;
  }

  .nav .nav01 li {
    display: block;
    padding: 20px 0;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav .nav01 li a {
    color: #ccc;
    font-weight: bold;
    font-size: 110%;
  }

  #nav-icon3 {
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
    margin: 3%;
  }

  .logo {
    display: none;
  }

  .sp_logo {
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100% !important;
    margin: 0;
    padding: 9px 0 0 22px;
    background: #333;
    text-align: left;
  }

  .sp_logo img {
    width: 10% !important;
    padding-bottom: 10px;
  }

  .logo img {
    width: 80px;
  }

  .lock-scroll {
    overflow: hidden;
  }

  /* Menu Fade in Effects */
  .nav {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s, visibility 0s 1s;
    -o-transition: opacity 1s, visibility 0s 1s;
    transition: opacity 1s, visibility 0s 1s;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
  }

  .nav.fade {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
  }

  .glow:hover:after {
    width: 0%;
    left: 0;
  }

  /*Start social*/
  .social {
    display: none;
  }
  /*End social*/

  /*Start section01*/

  .section01 {
    padding-top: 100px;
  }

  .sec01_cont01 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .typewrite {
    left: 0;
    right: 0;
    font-size: 2.5rem;
  }

  .animation {
    width: 80%;
    margin: 0 auto;
  }
  /*End section01*/
  /*Start section02*/
  .section02 {
    padding-top: 60px;
    height: 170vh;
  }

  .sec02_cont01 {
    width: 70%;
    margin-bottom: 60px;
  }

  .sec02_cont01Img01 {
    z-index: 0;
  }

  .sec02_cont01Img01 img:nth-child(2) {
    left: 0;
    top: 0;
  }

  .sec02_cont02 {
    width: 100%;
  }
  /*End section02*/
}

@media screen and (max-width: 900px) {
}

/*End media queries*/
